#раз в 200 мс опрашиваем очередь и добавляем два процесса на исполнение, максимальный лимит 2, размер очереди 200
[{safetyvalve,
  [{queues,
    [{ws_q, [
     		{hz, 200},
     		{rate, 2},
     		{token_limit, 2},
     		{size, 200},
     		{concurrency, 2},
     		{queue_type, sv_codel}
	]}
    ]}
  ]},
  {lager,
   [{handlers,
    [{lager_console_backend, [notice, true]},
     {lager_file_backend,
      [{"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5},
       {"log/debug.log", debug, 10485760, "$D0", 5}
      ]}
    ]}
   ]},
 {sasl,
  [{sasl_error_logger, false}]}
].